.result-items > li {
	float : left;
	width : calc((100% - 20px) / 3);
	margin-right : 10px;
	margin-bottom : 10px;
}
.result-items > li:nth-child(3n+3) {
	margin-right : 0;
}

.result-items {
	display : table;
}
