.result-items > li {
	background : #1454ac; /* color used on angular 2 website */
	padding : 2em;
}

.result-items > li img {
	width : 10em;
}

.addInfo {
	padding : .4em 0;
	line-height : 1;
	color : #666;
}

.result-items > li h3 a {
	color : #333;
}
.emperor h2 {
	line-height : 2em;
	font-size : 1.5em;
}
.emperor p {
	font-family : times;
	margin-bottom : 2em;
	line-height : 1.5;
}