<h2>Filters</h2>

<ul>
	<h3>Time range</h3>
	<li class='range-filter'>
		<label for='year-from'>from</label>
		<input id='year-from'
					 type='range'
					 step='1'
					 min=''
					 max=''
					 value=''
			/>
		<label for='year-from'>{{ criteria.yearFrom }}</label>
	</li>
	<li class='range-filter'>
		<label for='year-to'>to</label>
		<input id='year-to'
					 type='range'
					 step='1'
					 min=''
					 max=''
					 value=''
			>
		<label for='year-to'>{{ criteria.yearTo }}</label>
	</li>
</ul>

<h4>Dynasty</h4>

<select #dynasty (change)="onDynastySelect(dynasty.value)" id='dynasties' >
	<option *ngFor="let p of criteria.dynasties" [value]="p">{{p}}</option>
</select>

<h3>Sort by</h3>

<select #sort (change)='onSortSelect(sort.value)' id='sort-by'>
	<option *ngFor='let p of criteria.sortingOrders' [value]='p'>{{p}}</option>
</select>
